p,
a,
span,
table,
td,
label,
input,
ol,
ul,
li {
    font-family: Arial, Helvetica, sans-serif;
}

#main-menu {
    list-style: none;
    display: inline-block;
    padding-left: 0px;
    width: 100%;
    margin-top: 30px;
}

#main-menu a {
    float: left;
    width: 21%;
    display: block;
    height: 200px;
    margin: 2%;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    border-radius: 20%;
    text-decoration: none;
    color: black;
    flex-direction: column;
    -webkit-box-shadow: 0 6px 16px 0 rgba(0, 0, 0, .12);
    box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.12);
}

#main-menu a:hover {
    background-color: #F3F3F3;
}

#main-menu img {
    width: 40%;
}

table {
    table-layout: fixed;
    width: 100%;
    word-wrap: anywhere;
    border-collapse: collapse;
    overflow: hidden;
}

@media (max-width: 1024px) {
    #main-menu a {
        width: 29.33333333%;
        margin: 2%;
    }
}

@media (max-width: 768px) {
    #main-menu a {
        width: 40%;
        margin: 5%;
    }
}

td {
    padding: 10px;
    overflow: hidden;
}

.site-select {
    display: flex;
    height: 50px;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 13pt;
    margin-top: 15px;
    margin-bottom: 15px;
}

.site-select img {
    max-height: 50px;
    margin: 0px 10px;
    vertical-align: middle;
}

.site-select label {
    cursor: pointer;
    max-height: 50px;
}

body {
    background-color: ghostwhite;
}

.col-3 {
    width: 33.33333333%;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    box-sizing: border-box;
}

th {
    background: aliceblue;
    text-align: center;
}

th,
td {
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.12);
}

h3 {
    font-weight: normal;
    font-size: 12pt;
}

h4 {
    font-weight: normal;
    font-size: 12pt;
    font-style: oblique;
}

#container {
    max-width: 1000px;
    display: block;
    margin: 40px auto;
    padding: 50px;
    -webkit-box-shadow: 0 6px 16px 0 rgba(0, 0, 0, .12);
    box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.12);
    border: 1px solid rgba(0, 0, 0, 0.12);
    position: relative;
    z-index: 0;
    width: 67%;
    min-width: 430px;
    word-wrap: break-word;
    background-color: white;
}

.description {
    margin: 0px;
}

#icon {
    position: absolute;
    left: -25px;
    top: -25px;
    width: 50px;
    height: 50px;
    -ms-transform: rotate(-30deg);
    /* IE 9 */
    -webkit-transform: rotate(-30deg);
    /* Safari prior 9.0 */
    transform: rotate(-30deg);
}

.required {
    color: red;
}

.tooltip {
    position: relative;
    display: inline-block;
    /* If you want dots under the hoverable text */
    cursor: help;
}

.tooltip .tooltiptext {
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.05);
    color: black;
    text-align: center;
    padding: 5px;
    border-radius: 7px;
    position: absolute;
    z-index: 1;
    margin: 0px 10px;
    top: -5px;
    font-weight: normal;
    font-size: 10pt;
    width: max-content;
    max-width: 500px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.padding {
    padding: 10px;
}

#Feed_Description,
#Item_Pattern,
#Item_Description {
    padding: 10px;
    height: 200px;
    resize: none;
}

#Page_Source,
#Item_List {
    resize: none;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    height: 500px;
}

input:focus:invalid,
textarea:focus:invalid {
    border-color: red;
    background-color: rgba(250, 150, 150, 0.5);
    box-shadow: 0px 0px 5px -2px red;
}

input:invalid,
textarea:invalid {
    box-shadow: none;
}

.input_box {
    border-color: #0006;
    border-width: 1px;
    border-style: solid;
    width: 100%;
    height: 2em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    margin: 0px;
    box-sizing: border-box;
    padding: 0px 10px;
}

input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

input[type="radio"] {
    -webkit-appearance: radio;
    display: inline-block;
    cursor: pointer;
}

button {
    display: block;
    width: 100px;
    height: 35px;
    background: white;
    border-radius: 6px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-shadow: 1px 1px 16px 0 rgba(0, 0, 0, 0.12);
}

button:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.Field {
    font-weight: bold;
}

hr {
    border-color: #0006;
}

#right_button {
    display: inline-block;
    text-align: center;
    border-width: 1px;
    border-style: solid;
    border-color: #0006;
    padding: 6px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    border-left: none;
    width: 20px;
}

#left_button {
    display: inline-block;
    text-align: center;
    border-width: 1px;
    border-style: solid;
    border-color: #0006;
    padding: 6px;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    border-right: none;
    width: 20px;
}

#left_button:hover {
    background-color: rgba(0, 0, 0, 0.05);
    cursor: pointer;
}

#right_button:hover {
    background-color: rgba(0, 0, 0, 0.05);
    cursor: pointer;
}

#Feed_TTL,
#Scrape_delay {
    width: calc(100% - 66px);
    display: inline;
    text-align: center;
}

a,
a:link,
a:visited {
    color: blue;
}

a:hover {
    color: red;
}

#icon:hover {
    animation-name: spin;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes spin {
    0% {
        transform: rotate(-30deg);
    }
    
    100% {
        transform: rotate(330deg);
    }
}

h1,
h2,
h3,
h4 {
    margin-top: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#bocchi {
    position: fixed;
    right: 10px;
    bottom: 10px;
    width: 10%;
    max-width: 200px;
    z-index: 10;
}
